@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>

    <body>
        <div>
            This is the RsvpForm.cshtml View
        </div>
    </body>
</html>